name: CD - Deploy to Azure Web App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Publish
        run: dotnet publish ./src/HospitalTriage.Web/HospitalTriage.Web.csproj -c Release -o ./publish

      - name: Deploy
        uses: azure/webapps-deploy@v3
        with:
          app-name: "<TEN_APP_SERVICE_CUA_BAN>"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish
