name: CI - Test & Coverage

on:
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - run: dotnet restore

      - name: Test + Coverage (Cobertura)
        run: |
          dotnet test ./tests/HospitalTriage.Tests/HospitalTriage.Tests.csproj \
            -c Release \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=cobertura \
            /p:CoverletOutput=./TestResults/coverage/

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-cobertura
          path: ./tests/HospitalTriage.Tests/TestResults/coverage/
